<div class="container">
  <app-custom-table
    [cols]="cols"
    [data]="data"
    [pageSize]="5"
    style="display: inline-block;width: 900px"
  >

    <ng-template template="header" let-colunms>
      <div class="colunm" *ngFor="let col of colunms" [style.flex]="col.flex">
        {{col.colName}}
      </div>
    </ng-template>

    <ng-template template='body' let-data>
      <div class="row" *ngFor="let col of data.colunms" [style.flex]="col.flex">
        {{data.rowData[col.fieldName]}}
      </div>
    </ng-template>
  </app-custom-table>
</div>
